$padding: 20px;
body {
  width: 300px;
  padding: $padding;
}

h1 {
  margin: 0 0 16px 0;
}

#focus {
  background-color: #faa;
}

#Search {
  &.disable {
    display: none
  }
}


// 45afdf8d35ad54ebd25f44e4357fba3d03cc808e
